.drinks_carousel_container {
    display: flex;
    justify-content: center;
    height: 600px;
}
.drink_item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
