.variety_carousel_container {
    display: flex;
    justify-content: center;
    height: 500px;
    
}

.variety_item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

