.item_container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;

}



.upper_text_container {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 7px;

}

.upper_text_line {
    height: 2px;
    width: 30px;
    background-color: white;
    border-radius: 2px;
    margin-right: 10px;
}

.upper_text {
    font-size: 14px;
    font-weight: 500;

}

.item_title {
    font-size: 54px;
    font-weight: 405;
    word-spacing: 1px;
    margin-bottom: 50px;

}

.item_content {
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 25px;

}

.item_button {
    height: 50px;
    width: 160px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 550;
    background-color: #3EB489;
    border-radius: 5px;
    border: 0px;
}

.item_image{
    margin-right: 60px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

