{% extends 'coffee/base.html' %}
{% load static %}

{% block content %}
<div class="main_page">
     <nav>
        <div class="nav_upper">
            <div class="nav_search">
                <input type="text" placeholder="Search product">
                <a href="#"><img src="{% static 'coffee/images/search_icon.png' %}" alt=""></a>
            </div>
            <div class="nav_logo">
                <a href="#"><img src="{% static 'coffee/images/SVGLight.svg' %}" height="50" width="50"></a>
            </div>
            <div class="nav_menu">
                <a href="#"><img src="{% static 'coffee/images/profile_icon.png' %}" ></a>
                <a href="#"><img src="{% static 'coffee/images/likes_icon.png' %}" ></a>
                <a href="#"><img src="{% static 'coffee/images/bag_icon.png' %}" ></a>
            </div>
        </div>
        <div class="nav_list">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">COLLECTIONS</a></li>
                <li><a href="#">RICH AROMA</a></li>
                <li><a href="#">ROASTED</a></li>
                <li><a href="#">COFFE BEAN</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">PAGES</a></li>
            </ul>
        </div>
    </nav>
    <div class="main_page_content">
        <h1>Головна сторінка</h1>
        <h2>Сорти кави</h2>
        <ul>
            {% for vart in varts %}
            <li>
                <p>{{ vart.title }}</p>
            </li>
            {% endfor %}
        </ul>
        <h2>Напої</h2>
        <ul>
            {% for drink in drinks %}
            <li>
                <p>{{ drink.title }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>









{% endblock %}