.carousel_container {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;

}

.carousel_window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.all_pages_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
    height: 60px;
    color: #ABB0B8;
}