body {
    margin: 0px;
    padding: 0px;
}

.main_page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)),
                       url("../images/main_background_img.jpg");
    font-family: 'Montserrat', sans-serif;
    color: white;
}

nav {
}

.nav_upper {
    display: flex;
    justify-content: space-between;
    padding: 1% 3% 0% 3%;
}

.nav_search, .nav_logo, .nav_menu {
    display: flex;
    align-items: center
}

.nav_search {
    justify-content: space-between;
    padding: 0 5px 0 20px;

    height: 45px;
    width: 220px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
}

.nav_search img{
    height: 15px;
    width: 15px;
    transition: all 0.3s ease;
}

.nav_search a{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease;
}

.nav_search a:hover ~ img{
    height: 20px;
    width: 20px;
}

.nav_search input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 150px;
    background: none;
    border: none;
}

.nav_search input:focus {
    transition: all 0.2s ease;
    padding: 0 0 0 22px;
    outline: none;
}

.nav_logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    width: 145px;
}

.nav_menu img {
    height: 25px;
}

.nav_list ul{
    display: flex;
    justify-content: space-between;
    margin: 3% 20% 3% 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
}

.nav_list a {
    color: white;
    text-decoration: none;
}

.main_page h1 {
    margin: 0px;
}
