.handpicked_order_container {
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-around;
   
}

.handpicked_order_image img{
    height: 510px;
    background-image: none;
    margin-right: 45px;
}

.handpicked_order_content {
    background-image: url("./images/coffeebeans_background.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #242424;
    font-weight: 400;
    font-size: 14px;
    padding-top: 95px;
    padding-left: 80px;
    padding-right: 20px;

}

.handpicked_order_title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.handpicked_order_subtitle {
    font-weight: 500;
    color: #00A36C;
    font-size: 20px;
    margin-bottom: 35px;
}

.handpicked_order_description {
    font-weight: 400;
    color: #6F7378;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 25px;

}


.handpicked_order_button{
    width: 200px;
    height: 50px;
    background-color: #00A36C;
    border-radius: 5px;
    

}

.handpicked_order_button button{
    width: 100%;
    height: 100%;
    background: none;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}